@page "/"
@using EksploracjaDanych.Models

<PageTitle>Eksploracja danych</PageTitle>
<div class="form-group">
    <h1 class="text-lg-center">Wyznaczanie modelu</h1>
    <select class="form-select mt-2" id="dataType" @bind="_modelType">
        <option selected value="-1">Wybierz model</option>
        <option value="0">MODEL KLASYFIKACYJNY</option>
        <option value="1">MODEL REGRESYJNY</option>
    </select>

    @if (_isBadModel)
    {
        <p class="text-danger mt-1">Proszę wybrać poprawny model.</p>
    }

    <InputFile class="form-control mt-2" OnChange="@OnInputFileChange"/>
    @if (_wrongFileType)
    {
        <p class="text-danger mt-1">Zły format pliku.</p>
    }

    <button type="button" class="btn btn-outline-dark mt-2 float-end" @onclick="Generate">
        @if (_loading)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span>Generuję...</span>
        }
        else
        {
            <span>Oblicz model</span>
        }
    </button>
</div>

@if (_calculated)
{
    <div class="mt-3 w-100">

        @if ((ModelType)_modelType == ModelType.Classification &&
             _classificationModel1 is not null && _classificationModel2 is not null)
        {
            <div class="mt-5 d-inline-flex w-100">
                <ClassificationResult Title="Model pierwszy" TargetModel="@_classificationModel1" ComparativeModel="@_classificationModel2"/>
                <LineChart Values="@_rocValues1"/>
            </div>
            <div class="mt-5 d-inline-flex w-100">
                <ClassificationResult Title="Model drugi" TargetModel="@_classificationModel2" ComparativeModel="@_classificationModel1"/>
                <LineChart Values="@_rocValues2"/>
            </div>
        }
        @if ((ModelType)_modelType == ModelType.Regression &&
             _regressionModel1 is not null && _regressionModel2 is not null)
        {
            <div class="mt-5 d-inline-flex w-100">
                <RegressionResult Title="Model pierwszy" TargetModel="@_regressionModel1" ComparativeModel="@_regressionModel2"/>
                <RegressionResult Title="Model drugi" TargetModel="@_regressionModel2" ComparativeModel="@_regressionModel1"/>
            </div>
        }
    </div>
}

@if (_parseDataError)
{
    <p class="text-danger mt-1">Błąd podczas parsowania danych.</p>
}

@code
{
    private readonly int _maxAllowedFileSize = 1024 * 1024 * 1024 * 1;
    private readonly string _allowedFileType = "text/csv";

    private bool _isBadModel;
    private bool _wrongFileType;
    private bool _loading;
    private bool _calculated;
    private bool _parseDataError;

    private int _modelType = -1;

    private IBrowserFile? _file;

    private ClassificationModel? _classificationModel1;
    private ClassificationModel? _classificationModel2;

    private RegressionModel? _regressionModel1;
    private RegressionModel? _regressionModel2;

    private readonly List<Tuple<double, double>> _rocValues1 = new(new[] { new Tuple<double, double>(0.0, 0.0) });
    private readonly List<Tuple<double, double>> _rocValues2 = new(new[] { new Tuple<double, double>(0.0, 0.0) });

    private Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;
        _calculated = false;
        _parseDataError = false;
        try
        {
            if (file.ContentType != _allowedFileType)
            {
                _wrongFileType = true;
                return Task.CompletedTask;
            }
            _file = file;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        return Task.CompletedTask;
    }

    private async Task Generate()
    {
        if (_modelType is (int)ModelType.Default)
        {
            _isBadModel = true;
            return;
        }
        _isBadModel = false;

        if (_file is null)
        {
            _wrongFileType = true;
            return;
        }
        _wrongFileType = false;
        _loading = true;

        var reader =
            await new StreamReader(_file.OpenReadStream(_maxAllowedFileSize)).ReadToEndAsync();
        var data = reader.Split("\r\n").Select(x => x.Split(",")).ToArray();
        var watch = System.Diagnostics.Stopwatch.StartNew();
        switch ((ModelType)_modelType)
        {
            case ModelType.Classification:
                try
                {
                    Classification(data);
                    RocCurve(data);
                    _calculated = true;
                    _parseDataError = false;
                }
                catch (Exception)
                {
                    _parseDataError = true;
                }
                _loading = false;
                break;

            case ModelType.Regression:
                try
                {
                    Regression(data);
                    _calculated = true;
                    _parseDataError = false;
                }
                catch (Exception)
                {
                    _parseDataError = true;
                }
                _loading = false;
                break;

            default:
                throw new ArgumentOutOfRangeException();
        }
        watch.Stop();
        var elapsedMs = watch.ElapsedMilliseconds;
        Console.WriteLine(elapsedMs);
    }

    private void Classification(string[][] data)
    {
        var models = new List<ClassificationModel> { new(), new() };
        var dataSet = data.Skip(1).SkipLast(1).ToArray();
        foreach (var row in dataSet)
        {
            var realValue = row[0];
            for (int i = 0; i < 2; i++)
            {
                var val = i == 0 ? row[1] : row[3];
                if (realValue.Equals(">50K"))
                {
                    if (val == realValue)
                        models[i].AddTruePositive();
                    else
                        models[i].AddFalseNegative();
                }

                else if (row[0].Equals("<=50K"))
                {
                    if (val == realValue)
                        models[i].AddTrueNegative();
                    else
                        models[i].AddFalsePositive();
                }
            }
        }
        _classificationModel1 = models[0];
        _classificationModel2 = models[1];
    }

    private void Regression(string[][] data)
    {
        var parsedList = data
            .Skip(1)
            .SkipLast(1)
            .Select(x => x.Select(double.Parse).ToArray())
            .ToList();
        int n = parsedList.Count;
        var models = new List<RegressionModel> { new(), new() };

        for (int i = 0; i < 2; i++)
        {
            foreach (var row in parsedList)
            {
                var realVal = row[0];
                var predVal = i == 0 ? row[1] : row[2];
                models[i].Mae += Math.Abs(realVal - predVal);
                models[i].Mse += Math.Pow(realVal - predVal, 2);
                models[i].Mape += Math.Abs(realVal - predVal) / realVal;
            }
            models[i].Mse /= n;
            models[i].Mae /= n;
            models[i].Rmse = Math.Sqrt(models[i].Mse);
            models[i].Mape = 100 * models[i].Mape / n;
        }

        _regressionModel1 = models[0];
        _regressionModel2 = models[1];
    }

    private void RocCurve(string[][] data)
    {
        var models = new List<ClassificationModel> { new(), new() };
        var dataSet = data.Skip(1).SkipLast(1).ToArray();

        for (double step = 0.0; step <= 1.0; step += 0.01)
        {
            for (int i = 0; i < 2; i++)
            {
                models[i].Reset();
                foreach (var row in dataSet)
                {
                    var realValue = row[0];
                    var val = i == 0 ? double.Parse(row[2]) >= step ? ">50K" : "<=50K" : double.Parse(row[4]) >= step ? ">50K" : "<=50K";
                    if (realValue.Equals(">50K"))
                    {
                        if (val == realValue)
                            models[i].AddTruePositive();
                        else
                            models[i].AddFalseNegative();
                    }
                    else if (realValue.Equals("<=50K"))
                    {
                        if (val == realValue)
                            models[i].AddTrueNegative();
                        else
                            models[i].AddFalsePositive();
                    }
                }
            }

            _rocValues1.Add(new(1 - models[0].Specificity(), models[0].Sensitivity()));
            _rocValues2.Add(new(1 - models[1].Specificity(), models[1].Sensitivity()));
        }
        _rocValues1.Sort();
        _rocValues2.Sort();

        _classificationModel1!.SetAuc(Auc(_rocValues1));
        _classificationModel2!.SetAuc(Auc(_rocValues2));
    }

    private double Auc(List<Tuple<double, double>> pointSet)
    {
        var result = 0.0;
        for (int i = 1; i < pointSet.Count; i++)
        {
            var h = pointSet[i].Item1 - pointSet[i - 1].Item1;
            result += h * (pointSet[i].Item2 + pointSet[i - 1].Item2) / 2;
        }

        return result;
    }

    private enum ModelType
    {
        Default = -1,
        Classification = 0,
        Regression = 1
    }
}