@using EksploracjaDanych.Models

<div class="card bg-light mb-3 w-50">
    <div class="card-header">@Title</div>
    <div class="card-body">
        <h5 class="card-title">Model klasyfikacyjny</h5>
        <p class="card-text">Prawdziwie negatywne = @TargetModel.GetTN()</p>
        <p class="card-text">Fałszywie negatywne = @TargetModel.GetFN()</p>
        <p class="card-text">Prawdziwie pozytywne = @TargetModel.GetTP()</p>
        <p class="card-text">Fałszywie pozytywne = @TargetModel.GetFP()</p>

        <p class="card-text">
            Trafność = @TargetModel.Accuracy()
            @if (TargetModel.Accuracy() > ComparativeModel.Accuracy())
            {
                <i class="oi oi-check"></i>
            }
        </p>
        <p class="card-text">
            Czułość = @TargetModel.Sensitivity()
            @if (TargetModel.Sensitivity() > ComparativeModel.Sensitivity())
            {
                <i class="oi oi-check"></i>
            }
        </p>
        <p class="card-text">
            Precyzja = @TargetModel.Precision()
            @if (TargetModel.Precision() > ComparativeModel.Precision())
            {
                <i class="oi oi-check"></i>
            }
        </p>
        <p class="card-text">
            Swoistość = @TargetModel.Specificity()
            @if (TargetModel.Specificity() > ComparativeModel.Specificity())
            {
                <i class="oi oi-check"></i>
            }
        </p>
        <p class="card-text">
            F1 = @TargetModel.F1Score()
            @if (TargetModel.F1Score() > ComparativeModel.F1Score())
            {
                <i class="oi oi-check"></i>
            }
        </p>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public ConfusionMatrix TargetModel { get; set; } = null!;

    [Parameter]
    public ConfusionMatrix ComparativeModel { get; set; } = null!;

}