@using EksploracjaDanych.Models
<div class="card bg-light mb-3 w-50">
    <div class="card-header">@Title</div>
    <div class="card-body">
        <h5 class="card-title">Model Regresyjny</h5>
        <p class="card-text">
            MAE = @TargetModel.Mae
            @if (TargetModel.Mae < ComparativeModel.Mae)
            {
                <i class="oi oi-check"></i>
            }
        </p>
        <p class="card-text">
            MSE = @TargetModel.Mse
            @if (TargetModel.Mse < ComparativeModel.Mse)
            {
                <i class="oi oi-check"></i>
            }
        </p>
        <p class="card-text">
            RMSE = @TargetModel.Rmse
            @if (TargetModel.Rmse < ComparativeModel.Rmse)
            {
                <i class="oi oi-check"></i>
            }
        </p>
        <p class="card-text">
            MAPE = @TargetModel.Mape%
            @if (TargetModel.Mape < ComparativeModel.Mape)
            {
                <i class="oi oi-check"></i>
            }
        </p>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = null!;

    [Parameter]
    public RegressionModel TargetModel { get; set; } = null!;

    [Parameter]
    public RegressionModel ComparativeModel { get; set; } = null!;

}