@using EksploracjaDanych.Models
<div class="card bg-light mb-3 w-50">
    <div class="card-header">@Title</div>
    <div class="card-body">
        <h5 class="card-title">Model Regresyjny</h5>
        <p class="card-text">
            MAE = @TargetModel.MAE
            @if (TargetModel.MAE < ComparativeModel.MAE)
            {
                <i class="oi oi-check"></i>
            }
        </p>
        <p class="card-text">
            MSE = @TargetModel.MSE
            @if (TargetModel.MSE < ComparativeModel.MSE)
            {
                <i class="oi oi-check"></i>
            }
        </p>
        <p class="card-text">
            RMSE = @TargetModel.RMSE
            @if (TargetModel.RMSE < ComparativeModel.RMSE)
            {
                <i class="oi oi-check"></i>
            }
        </p>
        <p class="card-text">
            MAPE = @TargetModel.MAPE%
            @if (TargetModel.MAPE < ComparativeModel.MAPE)
            {
                <i class="oi oi-check"></i>
            }
        </p>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RegressionModel TargetModel { get; set; } = null!;

    [Parameter]
    public RegressionModel ComparativeModel { get; set; } = null!;

}